{% extends 'bootstrap/base.html' %}

{% block scripts %}
  {{ super() }}
  {{ datepicker.loader(theme='vader') }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}

{% block navbar %}
<header class="box-header">
    <a href="" class="logo">
        <img src="" alt="Logo">
    </a>
    <nav class="menu-main">
        <a href="" class="menu-item">Home</a>
        <a href="{{ url_for('clinic.clinics') }}" class="menu-item">Poradnia</a>
        <a href="" class="menu-item">Lekarz</a>
        <a href="{{ url_for('calendar.calendar') }}" class="menu-item">Kalendarz</a>
        <a href="{{ url_for('auth.login') }}" class="menu-item">Logowanie</a>
    </nav>
</header>
{% endblock %}

{% block content %}
<section class="box-flash">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</section>
{% endblock %}
