{% extends 'base.html' %}

{% block title %}
    Clinic list
{% endblock %}

{% block content %}
    {{ super() }}
    <h2>Clinics</h2>

<form action="" method="get">
    {{ form.search() }}
    {{ form.submit() }}
</form>

    <ul>
        {% if clinics %}
            {% for clinic in clinics %}
                <li>
                    {% include 'clinic.html' %}
                </li>
            {% endfor %}
        {% else %}
            <li>No clinics added yet.</li>
        {% endif %}
    </ul>

<a href="{{ url_for('clinic.clinic_add') }}">Add clinic</a>
{% endblock %}