{% extends "base.html" %}

{% block title %}
    iDoctor - Signup
{% endblock %}

{% block content %}
<section>
    <h1>Create an account</h1>
    <form action="{{ url_for('auth.signup') }}" method="post">
        {{ form.hidden_tag() }}

        <div>
            {{ form.username.label }}
            {{ form.username() }}
            <br><hr>
            {{ form.email.label }}
            {{ form.email() }}
            <br><hr>
            {{ form.password.label }}
            {{ form.password() }}
            <br><hr>
            {{ form.password2.label }}
            {{ form.password2() }}
            <br><hr>
            {{ form.submit() }}
        </div>
    </form>
</section>
{% endblock %}